body {
    padding: 0.25em;
    background-color: #fff;
}

div#container {
    text-align: justify;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.5;
}

h1 {
    border-bottom: 1px solid #000;
}

a.header {
    text-decoration: none;
    color: #000;
}

a {
    text-decoration: underline;
    color: #000;
}

div.footer {
    border-top: 1px solid #bbb;
    margin: 1em 0;
    padding: 0.5em 0;
    font-size: 85%;
    color: #999;
    text-align: right;
}

div.footer a {
    color: #999;
}

input[type=text] {
    padding: 0.4em;
    border: 1px solid #bbb;
}

input[type=submit] {
    padding: 0.4em;
    background-color: #ddd;
    border: 1px solid #bbb;
    color: #000; 
}
